body {
    font-family: Candara,Calibri,Arial,sans-serif;
    background-color: #ededff;
    color: #101101;

}


h1 {
    font-size: 30px;
    color: #b04d5f;
    font-weight: 600;
}

h2 {
    font-size: 18px;
    color: #b04d5f;
}

#container {
    margin: auto;
    overflow: auto;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}

#footer {
    padding-top: 20px;
    font-size: 10px;
    color: #c2c2f0;
    clear: both;
}

#left {
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 15px;
    float: left;
   
}

#right {
    width: 300px;
    height: 250px;
    margin: 5px;
    padding: 15px;
    float: right;
   
}

.media {
    padding: 10px;
}
.media, .media-body {
    overflow:hidden; 
    _overflow:visible; 
    zoom:1;
}

.related-artists {
    float:left; 
    margin-right: 10px; 
    background-size: 100px;
}

.button-class {
  font-family: Candara,Calibri,Arial,sans-serif;
  color: #f8fff4;
  font-size: 14px;
  background: #b04d5f;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 50%;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.button-class:hover {
  background: #c591ab;
  text-decoration: none;
}

a:link {
    color: indigo;    
}

.sign-in {
    padding-bottom: 20px;
}

form {
    margin: 0 auto;
    text-align: center;
}